[submodule "iOS/Tweet4China/3th-party/FHSTwitterEngine"]
	path = iOS/Tweet4China/3th-party/FHSTwitterEngine
	url = git://github.com/fhsjaagshs/FHSTwitterEngine.git
[submodule "iOS/Tweet4China/3th-party/UIAlertView-Blocks"]
	path = iOS/Tweet4China/3th-party/UIAlertView-Blocks
	url = git://github.com/jivadevoe/UIAlertView-Blocks.git
[submodule "iOS/Tweet4China/3th-party/TTTAttributedLabel"]
	path = iOS/Tweet4China/3th-party/TTTAttributedLabel
	url = git://github.com/mattt/TTTAttributedLabel.git
[submodule "iOS/Tweet4China/3th-party/AFNetworking"]
	path = iOS/Tweet4China/3th-party/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "iOS/Tweet4China/3th-party/Base64"]
	path = iOS/Tweet4China/3th-party/Base64
	url = git://github.com/nicklockwood/Base64.git
[submodule "iOS/Tweet4China/3th-party/MobileShadowSocks"]
	path = iOS/Tweet4China/3th-party/MobileShadowSocks
	url = git://github.com/linusyang/MobileShadowSocks.git
[submodule "iOS/Tweet4China/3th-party/twitter-text-objc"]
	path = iOS/Tweet4China/3th-party/twitter-text-objc
	url = git://github.com/twitter/twitter-text-objc.git
[submodule "iOS/Tweet4China/3th-party/Reachability"]
	path = iOS/Tweet4China/3th-party/Reachability
	url = git://github.com/tonymillion/Reachability.git
