[submodule "iOS/Tweet4China/3th-party/FHSTwitterEngine"]
	path = iOS/Tweet4China/3th-party/FHSTwitterEngine
	url = git://github.com/fhsjaagshs/FHSTwitterEngine.git
[submodule "iOS/Tweet4China/3th-party/UIAlertView-Blocks"]
	path = iOS/Tweet4China/3th-party/UIAlertView-Blocks
	url = git://github.com/jivadevoe/UIAlertView-Blocks.git
[submodule "iOS/Tweet4China/3th-party/JSONKit"]
	path = iOS/Tweet4China/3th-party/JSONKit
	url = git://github.com/johnezang/JSONKit.git
[submodule "iOS/Tweet4China/3th-party/TTTAttributedLabel"]
	path = iOS/Tweet4China/3th-party/TTTAttributedLabel
	url = git://github.com/mattt/TTTAttributedLabel.git
[submodule "iOS/Tweet4China/3th-party/AFNetworking"]
	path = iOS/Tweet4China/3th-party/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "iOS/Tweet4China/3th-party/Moment"]
	path = iOS/Tweet4China/3th-party/Moment
	url = git://github.com/kmussel/Moment.git
